.top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: stretch;
}

.top-container .box_1, .events-container .box_1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.events-container .box_1 {
    overflow-x: auto;
}

.top-container .box_1 img {
    width: 60%;
    height: 50px;
    margin-top: 5px;
}

.top-container .text-with-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    color: gray;
    font-size: 10px;
}

.top-container .text-with-lines::before,
.top-container .text-with-lines::after {
    content: "";
    flex: 1;
    border-top: 1px solid var(--primary-color);
    margin: 0 10px;
}

.top-container .text-with-lines span {
    font-weight: bold;
    text-transform: uppercase;
}

.top-container .box_1 .player-row-data {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    margin-top: 2px;
}

.top-container .box_1 .player-row-data.first-player-row-data {
    margin-top: 10px;
}

.top-container .player-row-data img.player-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 0;
}

.events-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.icon-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-title img.section-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon-title h3 {
    font-size: 24px;
    margin: 0;
    color: var(--primary-color);
    text-decoration: underline;
}

.section-link {
    color: var(--secondary-color);
    font-weight: bold;
    margin: 5px 0;
}

.section-description {
    font-size: 14px;
    color: gray;
    margin: 0;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    margin-top: 20px;
}

.events-table th,
.events-table td {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    font-size: 12px;
}

.events-table th {
    background-color: #02030a;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.events-table tbody tr:nth-child(odd) {
    background-color: #0b0b0b;
}

.events-table tr:nth-child(even) {
    background-color: #12171C;
}

.events-table td a {
    color: var(--primary-color);
    text-decoration: none;
}

.events-table td .events-table-player-icon {
    display: flex;
    align-items: center;
}

.events-table td a img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .top-container {
        grid-template-columns: 1fr;
    }

    .top-container .box_1, .events-container .box_1 {
        flex: 1 1 100%;
    }

    .top-container .box_1 img {
        height: 60px;
        width: 45%;
    }

    .top-container .text-with-lines {
        font-size: 12px;
    }

    .top-container .player-row-data {
        font-size: 12px;
    }

    .top-container .player-row-data img.player-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .top-container .text-with-lines span {
        font-size: 12px;
    }

    .events-container {
        flex-direction: column;
    }

    .events-table th,
    .events-table td {
        font-size: 12px;
        padding: 8px;
    }

    .icon-title img.section-icon {
        width: 25px;
        height: 25px;
    }

    .section-description {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .events-table {
        flex: 1 1;
    }
}
