.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #02030a;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 70px;
}

.navbar2 {
    height: 50px;
}

.logo a {
    display: inline-block;
}

.logo-image {
    width: 36px;
    height: 40px;
    max-width: 150px;
    object-fit: contain;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 100%;
}

.navbar2 .container {
    max-width: 1400px;
    
}

.navbar2 .container .large-screen-menu {
    justify-content: center;
    height: 100%;
}

.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right .separator {
    background-color: rgb(43 44 44 / 1);
    width: 1px;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.language-selector {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.icon {
    height: 25px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.header-image {
    width: 100%;
    position: relative;
    display: flex;
}

.full-width-image {
    width: 100%;
    height: 88px;
}

.nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    right: 0;
    background-color: #333;
    width: 250px;
    padding: 10px;
    z-index: 5;
}

.nav-list.open {
    display: flex;
}

.large-screen-menu {
    display: flex;
    gap: 15px;
    /* margin-left: 30px; */
    flex-grow: 1;
}

.large-screen-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.large-screen-menu li {
    display: flex;
    margin: 0 5px;
}

.large-screen-menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    font-size: 12px;
    align-content: center;
    font-size: 1.125rem;
}

.large-screen-menu li a.active {
    border-bottom: 2px solid #bb6715;
    border-radius: 0;
}

.small-screen-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    right: 0;
    background-color: #333;
    width: 250px;
    padding: 10px;
    z-index: 5;
}

.small-screen-menu.open {
    display: flex;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-left .separator {
    background-color: rgb(43 44 44 / 1);
    width: 1px;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.designed-select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.search-input {
    padding: 5px 10px;
    width: 200px;
    padding-left: 40px;
    background: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: 0 none;
    outline: none;
}

.login-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(128 128 128 / 1);
    text-decoration: none;
    font-size: 16px;
}

.login-link:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.profile-icon {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .large-screen-menu, .navbar-left, .header-right {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        right: 0;
        width: 100%;
    }
}