/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: rgb(188, 105, 21);
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --background-color: #f8f9fa;
  --footer-background: #343a40;
  --text-color: #212529;
  --header-height: 60px;
  --font-family: 'RobotoRegular';
  --header-height: 30px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #bb6715 ;
}

::-webkit-scrollbar-track {
  background: rgba(115,205,240,.2);
}

::-webkit-scrollbar-track-piece {
}

::selection {
  background: #09c;
  color: #fff;
  text-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
border: 1px solid #081938 !important;
-webkit-text-fill-color: #fff;
-webkit-box-shadow: 0 0 0px 1000px #00060d inset;
transition: background-color 5000s ease-in-out 0s;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: url('/public/assets/ogame_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  overflow-x: hidden;
  overflow-y: auto; 
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex: 1;
  padding-top: var(--header-height);
  width: 100%;
  background: url('/public/assets/ogame_background.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 20px;
}

.main-content .container {
  flex: 1;
}

a {
  color: var(--primary-color);
  text-decoration: unset;
}

.c-green, .status_positif {
  color: #508d0e;
  font-weight: bold;
}

.c-orange, .status_warning {
  color: #bb6715;
  font-weight: bold;
}

.c-red, .status_negative {
  color: #bb2e15;
  font-weight: bold;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.box_1 {
  margin: auto;
  margin-bottom: 10px;
  padding: 30px;
  min-height: 50px;
  background-image: url(/public/assets/box_type_1/header.gif), url(/public/assets/box_type_1/bottom.gif), url(/public/assets/box_type_1/background.gif);
  background-size: 100% 28px, 100% 21px, 100% calc(100% - 12px);
  background-position: top, bottom, top;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.box_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.horizontal-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 140px;
}

.c-1 {
  color: #bb6715 !important;
  text-decoration: underline;
}

.logo {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 50px;
  }

  .box_1 {
    flex: 1;
  }

  .box_2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}